<div class="row">
	<div ngClass="col-lg-4 col-md-6 mb-4" *ngFor="let product of products">
		<div class="card h-100">
			<a href="single.html"><img src="{{product.img}}"> </a>
				<div class="card-body">
					<h4 class="card-title">
						<a routerLink="/product/detail/{{product.id}}" style="color: orange">{{product.name}}</a>
						<h5 class="title1">{{product.desc}}</h5>
					</h4>
					<h5>${{product.price}}</h5>
					<div class="cart-button">
						<div class="cart">
							<button class="button" ><span style="width:58.78px,height=27px ">Buy</span></button>
						</div>
						<button class="button" ><span routerLink="/product/detail/{{product.id}}">Details</span></button>
						<div class="clear"></div>
					</div>
				</div>
		</div>
	</div>
</div>
